main {
  padding-top: 30px;
}

.catalog h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.catalog h1 span {
  color: white;
}

.offer-list {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(202, 233, 245, 0.4);
  width: auto;
  height: 650px;
  margin-top: 50px;
  /* overflow-y: scroll; */
}

.offer-list::-webkit-scrollbar {
  width: 20px;
}

/* .offer-list::-webkit-scrollbar-track {
  background-color: #0dccea;
  border-radius: 100px;
} */

/* .offer-list::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
} */

.catalog .boat {
  display: inline-block;
  width: 420px;
  height: 200px;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 2px solid rgba(240, 248, 255);
  border-radius: 30px;
  background-color: rgba(240, 248, 255, 0.6);
}

.catalog .boat-img img {
  float: left;
  border: 2px solid rgba(240, 248, 255);
  border-radius: 10%;
  width: 140px;
  height: 120px;
  margin: 20px;
}

.catalog .boat-info {
  margin-bottom: 20px;
}

.catalog .boat-info h1 {
  font-size: 24px;
  margin-top: 10px;
  color: rgb(94, 138, 151);
}

.catalog .boat-info p {
  color: rgb(94, 138, 151);
  margin-top: 5px;
  padding: 2px;
}

.catalog .boat-info span {
  color: rgb(94, 138, 151);
  font-weight: bolder;
}

.catalog .boat .btn-details {
  cursor: pointer;
  outline: none;
  font-size: 14px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #3798b5, #9ae4ff);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  width: 100px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-decoration: none;

  /* 
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  background-image: linear-gradient(45deg, #3798b5, #9ae4ff);
  padding: 0.8em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  width: 160px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none; */
}

.catalog .boat .btn-details:hover {
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.15);
  color: rgb(61, 106, 120);
  text-decoration: underline;
}

.no-offer {
  position: relative;
  border-top: 4px solid #9ae4ff;
  border-bottom: 4px solid #9ae4ff;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(71, 20, 158, 0.1);
  width: auto;
  height: 100px;
  margin: auto;
}

.no-offer p {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}
