main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.create-container-info {
  color: rgb(61, 106, 120);
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 16px;
  background-color: rgba(240, 248, 255, 0.6);
  border: 2px solid white;
}

.create-container-info .font-weight-bold-title {
  padding-top: 20px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(94, 138, 151);
}

.create-container-info h5 {
  text-align: center;
  color: rgb(61, 106, 120);
}

.create-container-info form {
  width: 100%;
}

.create-container-info form label {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}

.create-container-info form input {
  width: 100%;
  height: 30px;
  padding-left: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
  background-color: whitesmoke;
}

.create-container-info input[type="number"] {
  -moz-appearance: textfield;
}

.create-container-info form textarea {
  width: 100%;
  height: 60px;
  padding-left: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
  background-color: whitesmoke;
  resize: none;
}

.create-container-info select {
  width: 100%;
  height: 30px;
  padding-left: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
  background-color: whitesmoke;
}

.create-container-info .create-button #btn {
  position: relative;
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;

  background-image: linear-gradient(45deg, #3798b5, #9ae4ff);
  padding: 0.8em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
}

.create-container-info .create-button {
  text-align: center;
}

.create-container-info .create-button #btn:hover {
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.15);
  color: rgb(61, 106, 120);
  text-decoration: underline;
}
